{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
  <h2>{{ is_edit|yesno:"Editar Warehouse,Crear nuevo Warehouse" }}</h2>

  <form method="POST" enctype="multipart/form-data" class="mt-3">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">
      {{ is_edit|yesno:"Guardar cambios,Crear" }}
    </button>
    {% if is_edit %}
      <a class="btn btn-secondary" href="{% url 'warehouse_detail' warehouse.wr_number %}">Cancelar</a>
    {% else %}
      <a class="btn btn-secondary" href="{% url 'admin_panel' %}">Cancelar</a>
    {% endif %}
  </form>
</div>
{% endblock %}
